<launch>
	<arg name="world" default="turtlebot_world" />
	<arg name="localization" default="gmapping_demo" />
	<arg name="rviz" default="view_navigation" />
    <arg name="gmapping_ns" default="/slam_gmapping" />
    <arg name="global_costmap_ns" default="/move_base/global_costmap" />

	<include file="$(find turtlebot_gazebo)/launch/$(arg world).launch" />
	<include file="$(find turtlebot_gazebo)/launch/$(arg localization).launch" />
    <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml" >
        <arg name="custom_param_file" value="$(find turtlebot_testing)/param/custom_navfn_global_planner_params.yaml"/>
    </include>
	<include file="$(find turtlebot_rviz_launchers)/launch/$(arg rviz).launch" />

    <!-- Probably really dumb, need to set map and global costmap size to fairly large on launch. -->
    <param name="$(arg gmapping_ns)/xmin" value="-10" />
    <param name="$(arg gmapping_ns)/xmax" value="10" />
    <param name="$(arg gmapping_ns)/ymin" value="-10" />
    <param name="$(arg gmapping_ns)/ymax" value="10" />
    <param name="$(arg global_costmap_ns)/height" value="20.0" />
    <param name="$(arg global_costmap_ns)/width" value="20.0" />
    <param name="$(arg global_costmap_ns)/update_frequency" value="5.0" />
    <param name="$(arg global_costmap_ns)/publish_frequency" value="5.0" />
</launch>